
/*Google clone Stylesheet*/

.center,.logo,.buttons,.searchBar,.blurp{
    display: flex;
    justify-content:center;
    flex-direction: row;
}

*{
    margin:0;
}


.body{
    display: flex;
    /* justify-content: space-between; */
    padding-top:1%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80.8vh;
}

.header,.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px, 30px;
    align-items: center;
    font-family: arial,sans-serif;
    font-size: 14px;
}

a,span{
    text-decoration: none;
    padding: 15px;
    color:black;
}

.logoImg{
    width: 50%;
}

.leaf{
    height:50%;
}

.footer{
    background-color:#efefef;
}

#location{
    padding:0px;
   color:blue;
}



#searchBar{
    height:40px;
    width:600px;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 25px;
    border-color:#efefef;
    border-style: solid;
}

.buttons{
    padding-top: 1%;
    padding-bottom: 1%;
} 

.butt{
   margin-left: 4%;
    margin-right: 4%;
    height:40px;
    width:150px;
    border-radius: 5px;
    border-color:transparent;
}
